<!DOCTYPE html>
<html>
	<head>
		<meta name="theme-color" content="#0d873a" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			404 Error
		</title>
		<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
		<style>
			html{
				font-family: 'PT Sans', sans-serif;
			}
			a{
				color:blue;
			}
		</style>
	</head>
	<body>
		<center>
			<h1 style='4vh'>
				<span style='font-size:7.5vh;'>Http 404 Error</span></br>
				<span style='font-size:5vh;'>>>Page Not Found<<</span></br>
				<br/>
				This page was not found on this server,
				<br/>
				but who knows, maybe it exists on other ones??<br/>
				<br/>
				Ask them:<br/>
					•<a style='text-decoration:none;' href='https://www.google.com/search?q=Http+404+Error' target='_blank'>Google</a><br/>
					•<a style='text-decoration:none;' href='https://www.bing.com/search?q=Http+404+Error' target='_blank'>Bing</a><br/>
					•<a style='text-decoration:none;' href='https://duckduckgo.com/?q=Http+404+Error' target='_blank'>DuckDuckGo</a><br/>
					•<a style='text-decoration:none;' href='https://en.wikipedia.org/wiki/HTTP_404' target='_blank'>Wikipedia</a><br/>
				</h1>
		</center>
	</body>
</html>
