<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#0d873a" />
		<title>
			Autogarden
		</title>
		<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
		<style>
			html{
				font-family: 'PT Sans', sans-serif;
			}
			body, html, center{
				height:100%;
				padding:0;
				margin:0;
			}
			a{
				color:black;
				text-decoration:none;
			}
			.bt{
				height:50%;
				width:100%;
				line-height:50vh;
				display:block;
				font-size:10vh;
			}
		</style>
	</head>
	<body>
		<center>
			<a href='/rasadnic/'>
				<div class='bt' style='background-color:green;'>
					Rasadnic
				</div>
			</a>
			<a href='/solar/'>
				<div class='bt' style='background-color:blue;'>
					Solar
				</div>
			</a>
		</center>
	</body>
</html>

